@using LanguageSchool.Models;
@{
    ViewData["Title"] = "Students";
}

<h2 class="mb-4">
    Students Table
</h2>
    <a href="/Student/Criar" class="btn btn-success">Adicionar Novo Aluno</a>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CPF</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.CPF</td>
                <td>
                    <a href="/Student/Details/@student.Id" class="btn btn-primary btn-sm">Details</a>
                    <a href="/Student/Edit/@student.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/Student/Delete/@student.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
