@model LanguageSchool.Models.Class

@{
    ViewData["Title"]= "Create New Class";

    var AlertHidden = ViewBag.CreateSuccess == false ? "" : "d-none";
}

<div class="container mt-4">
    <h2> Create New Class</h2>

    <div class="alert alert-danger @AlertHidden" role="alert">
        Error creating class, please try again at a later time
    </div>
    @using (Html.BeginForm("SaveCreate", "Class", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="Name"> Class Name: </label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter the class name" required value="@Model.Name" />
        </div>
        <div class="form-group mt-2">
            <label for="Code"> Code </label>
            <input type="text" class="form-control" id="Code" name="Code" placeholder="Enter the class code" required value="@Model.Code" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/Class" class="btn btn-secondary">Cancel</a>
        </div>
    }
</div>
