@using LanguageSchool.Models
@{
    ViewData["Title"] = "Matrículas";
}

<h2 class="mb-4">Lista de Matrículas</h2>
<a href="/Enrollment/Create" class="btn btn-success">New Enrollment</a>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Classe ID</th>
            <th>Student ID</th>
            <th>Enrollment Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enrollment Enrollment in Model)
        {
            <tr>
                <td>@Enrollment.Id</td>
                <td>@Enrollment.ClassId</td>
                <td>@Enrollment.StudentId</td>
                <td>@Enrollment.EnrollmentDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="/Enrollment/Details/@Enrollment.Id" class="btn btn-primary btn-sm">Details</a>
                    <a href="/Enrollment/Delete/@Enrollment.Id" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Do you want delete this Class?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action cannot be reverted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>